* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: #020202;
  color: #f0f0f0;
  padding: 20px;
}

h2 {
    padding-bottom: 20px;
}

.message {
    padding: 8px;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 4px;
    border-bottom-right-radius: 1;
}


.fromA {
    background-color: #1e90ff;
}

.fromB {
    background-color: #ff1493;
}

.fromC {
    background-color: #66cdaa;
}



#messages {
    padding: 30px;
    border: 1px solid #f0fff0; 
    position: relative;
    width: 90%;
    border-radius: 15px;
    padding: 8px;
    float: left;
    height: 80%;
    overflow-y: auto;
}
